<nav class="cnav">
  <a href="{% url 'contatori:dashboard' %}" class="{% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}">Centrale</a>
  <a href="{% url 'contatori:snmp_centrale' %}" class="{% if 'snmp_' in request.resolver_match.url_name %}active{% endif %}">Monitor SNMP</a>
  <a href="{% url 'contatori:riconciliazione' %}" class="{% if 'riconciliazione' in request.resolver_match.url_name %}active{% endif %}">Riconciliazione</a>
  <a href="{% url 'contatori:analisi' %}" class="{% if request.resolver_match.url_name == 'analisi' %}active{% endif %}">Analisi</a>
  <a href="{% url 'contatori:consumabili' %}" class="{% if 'consumabili' in request.resolver_match.url_name %}active{% endif %}">Consumabili</a>
  <a href="{% url 'contatori:importa_lettura' %}" class="{% if request.resolver_match.url_name == 'importa_lettura' %}active{% endif %}">Nuova lettura</a>
  <a href="{% url 'contatori:macchine' %}" class="{% if request.resolver_match.url_name == 'macchine' or request.resolver_match.url_name == 'macchina_nuova' or request.resolver_match.url_name == 'macchina_edit' or request.resolver_match.url_name == 'macchina' %}active{% endif %}">MFC</a>
  <a href="{% url 'contatori:discovery' %}" class="{% if 'discovery' in request.resolver_match.url_name %}active{% endif %}">Discovery</a>
</nav>
