{# _dpi_icons.html - sprite SVG icone line (~1.8 stroke, currentColor) per le categorie DPI. Includere una volta per pagina; usare svg.dpi-ico con use href a #i-dpi-xxx. #}
<svg width="0" height="0" style="position:absolute" aria-hidden="true" focusable="false"><defs>
<symbol id="i-dpi-helmet" viewBox="0 0 24 24"><path d="M4 14a8 8 0 0 1 16 0v1H4v-1Z"/><path d="M12 3v3"/><path d="M2 15h20"/><path d="M8 18v-2M16 18v-2"/></symbol>
<symbol id="i-dpi-gloves" viewBox="0 0 24 24"><path d="M6 21V9a2 2 0 0 1 4 0v3"/><path d="M10 12V5a1.5 1.5 0 0 1 3 0v6"/><path d="M13 11V6a1.5 1.5 0 0 1 3 0v5"/><path d="M16 12V8a1.5 1.5 0 0 1 3 0v9a4 4 0 0 1-4 4H9a3 3 0 0 1-3-3"/></symbol>
<symbol id="i-dpi-glasses" viewBox="0 0 24 24"><circle cx="6" cy="14" r="4"/><circle cx="18" cy="14" r="4"/><path d="M10 14h4"/><path d="M2 13l2-6h2M22 13l-2-6h-2"/></symbol>
<symbol id="i-dpi-mask" viewBox="0 0 24 24"><path d="M3 12c0-3 2-5 4-5h10c2 0 4 2 4 5-3 1-3 5-9 5s-6-4-9-5Z"/><path d="M8 8V6a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"/></symbol>
<symbol id="i-dpi-earmuffs" viewBox="0 0 24 24"><path d="M4 14v-2a8 8 0 0 1 16 0v2"/><rect x="2" y="13" width="4" height="6" rx="1.5"/><rect x="18" y="13" width="4" height="6" rx="1.5"/></symbol>
<symbol id="i-dpi-vest" viewBox="0 0 24 24"><path d="M8 3 4 5v16h5v-9h6v9h5V5l-4-2-4 2-4-2Z"/><path d="M9 3v18M15 3v18"/></symbol>
<symbol id="i-dpi-boots" viewBox="0 0 24 24"><path d="M7 3v9l-4 3.5A2 2 0 0 0 4 19h7v-4h3v4h6a1 1 0 0 0 .9-1.45L18 13V3"/><path d="M7 3h4M14 3h4"/></symbol>
<symbol id="i-dpi-harness" viewBox="0 0 24 24"><circle cx="12" cy="5" r="2.5"/><path d="M12 7.5v13"/><path d="M6 21 12 12l6 9"/><path d="M6 12h12"/></symbol>
<symbol id="i-dpi-coverall" viewBox="0 0 24 24"><path d="M9 2h6l1 4-2 2v3l3 3v7h-4v-6l-1-1-1 1v6H7v-7l3-3V8L8 6Z"/></symbol>
<symbol id="i-dpi-apron" viewBox="0 0 24 24"><path d="M9 2h6v3H9Z"/><path d="M7 5h10l1 16H6Z"/><path d="M9 11h6M9 15h6"/></symbol>
<symbol id="i-dpi-shield" viewBox="0 0 24 24"><path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"/></symbol>
</defs></svg>
